<div id="content-container">
  <div class="app-home__content">
    <div class="app-home__front-banner-wrapper">
      <div class="app-home__front-banner" id="banner-behind"></div>
      <div class="app-home__front-banner" id="banner"></div>
      <div class="app-home__front-banner">
        <div class="app-home__news-content">
          <div class="app-home__news-header">
            Highlights
          </div>
          <div class="app-home__news-divider"></div>
          <div id="highlights"></div>
        </div>
      </div>
    </div>
    <div class="app-util__msg-content">
      <div class="app-util__msg-item">
        This div can be removed later, but I just left it in, in case an additional "description" of
        the website is desired. Most of the personal text (detailed version) should be in the "About"
        page. I personally don't think the front page should have too many words, lest the viewers
        skim it.
      </div>
    </div>
  </div>
</div>
